@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "segoe-ui";
    src: url("/src/Fonts/Segoe UI.TTF");
}
button {

    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
    box-shadow: none;
    border-radius: 3px;
    padding: 1px 4px;
    }
    button:hover{
    box-shadow: 2px 2px 1px orange inset, -2px -2px 1px orange inset;
    }
    button:active{
    box-shadow: none;
    background: linear-gradient(180deg,#cdcac3,#e3e3db 8%,#e5e5de 94%,#f2f2f1);
    }
    button:focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
    box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
    }